<div class="ui grid">
	<div class="one wide row">
	</div>
</div>
	<h1 class="ui center aligned icon header">
	  <i class="circular cloud icon"></i>
	  Smart Blinds
	</h1>
	<h4 class="ui center aligned header">
		A Web Server for Smart Blinds
	</h4>
	<div class="ui center aligned container">
	  <%= link_to "Get current weather", weather_index_path, id: "button", class: "ui blue button" %>
	</div>

